.container-fluid {
}
.chatbox {
  resize: none; 
  width: 100%;
  height: 100%;
}
.chatInput {
  width: 100%;
}
.skulptbox {
  resize: none; 
  width: 100%;
  height: 100%;
}
.skulptInput {
  width: 100%;
}

#skulptPanel {
  float: right;
}
